{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error", // Check prettier
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }], // Check unused vars, ignores args starting with "_"
    "react-hooks/rules-of-hooks": "error", // Check React hooks
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-explicit-any": 0
  }
}
